* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;
}

.game-text{
    /*평상시에는 none 게임종료시 flex */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}

.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
}

.score {
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

.playground > ul {
    border: 1px solid #333;
    width: 250px;
    /*가운데로 올 수 있게 해줌*/
    margin: 0 auto;
}

.playground > ul > li {
    /* 한 블록의 높이가 25px */
    width: 100%;
    height: 25px;
}

.playground > ul > li > ul {
    /*블록들이 옆으로 나열되게*/
    display: flex;
}

/*메트릭스가 되는것들*/
.playground > ul > li > ul > li {
    width: 25px;
    height: 25px;
    outline: 1px solid #ccc;
}

.tree {
    background: #67c23a;
}
.bar {
    background: salmon;
}
.zee {
    background: #e6a23c;
}
.square {
    background: #3abec2;
}
.elLeft {
    background: #8e44ad;
}
.elRight {
    background: #16a085;
}
